a{
    text-decoration: none;
}
.dropdown-item{
    background-color: #fff;
}
.btn{
    border: 1px solid gray;
    color: #fff;
}
.btn:hover{
    background-color: #000;
    color: #0d6efd;
    transition: none;
    font-size: 20px;
    font-weight: 800;
}