@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    /* border: 1px solid red; */
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}




/* 導覽列 */
.navbar-wrap{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    background-color: #232749;
    position: fixed;
    z-index: 100000;
    

}
.navbar-wrap .logo{
    display: flex;
    align-items: center;
    margin: 0 60px
}
.navbar-wrap .logo img{
    width: 40px;
    height: 40px;
    margin: 0px 15px;
}
.navbar-wrap .logo h1{
    font-size: 32px;
}
.nav-list ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
    margin-right: 40px;
    /* border: 1px solid blue; */
}
.nav-list ul li{
    padding-left: 25px;
    font-weight: 800;
    font-size: 16px;
    
}
.nav-list ul li:hover{
    transform: scale(1.1);
}


.css-w3c6s0 {
    background: url(../images/common/search.svg) 16px 5px no-repeat scroll rgb(255, 255, 255);
    }
.search input{
        width: 300px;
        height: 35px;
        padding-left: 50px;
        margin-right:320px ;
        border-radius: 5px;
        background-color: #393D5C;
        outline: none;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }
::placeholder{
        color:#fff;
    }

.member img{
    width: 38px;
    height: 38px;
}
.wallet{
    padding-bottom: 5px;
}
.member ul{
    display: flex;
}
.member ul li{
    padding: 0 15px;
    margin-top: 10px;
}
/* .hover-switch > img:last-of-type{
    position: absolute;
    top: 21px;
    right: 153px;
}
.hover-switch:hover > img:last-of-type{
    opacity: 1;
} */


.banner-right img:hover{
    transform: scale(1.03);
    transition: ease-in-out 1s;
}


  /*footer*/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    padding-top: 50px;
    background-color: #292F45;
    padding-bottom: 10px;
}

footer .wrap{
    width: 92%;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid red; */
}
footer .item{
    width: 350px;
    margin: 10px 20px;
}
footer .item h3{
    padding: 10px 8px 30px;
}
footer .item ul li{
    padding: 9px ;
    color: #9FA4DD;
}
footer .newsletter input{
    width: 300px;
    height: 40px;
    color: gray;
    padding-left: 10px;
    border-radius: 5px;
}
footer .newsletter button{
    width: 50px;
    height: 30px;
    background-color: gray;
    border-radius: 5px;


}
footer .newsletter ul li:nth-child(1){
    line-height: 25px;
}
footer .newsletter ul li:nth-child(4){
    font-size: 14px;
}


.copyright{
    background-color: #292F45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #3F4458;
}
.copyright h2{
    margin:0 20px 0 90px;
}
.copyright span{
    font-size: 14px;
    margin-left: 10px;
}
.copyright ul{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 40px;
    padding-right: 80px;

}
.copyright i{
    font-size: 32px;
    margin: 5px;
}
