/* section1 */
.page-title{
    width: 100%;
    height: 300px;
    background: url(../images/common/common_banner.jpg) no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 300px;
}
.page-title h1{
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}

.full{
    width: 100%;
    /* height: 100vh; */
    background-color: #161D30;
    /* padding: 90px 0; */
}
.wrap{
    width: 86%;
    /* height: 300px; */
    margin: auto;
}
.filter{
    padding-top: 90px;
}



/*section2*/
.filter .wrap{
    padding-bottom: 80px;
    position: relative;
   
}

.dropDown{
    width: 167px;
    padding: 15px 28px 15px 20px;
    color:#fff;
    font-size:14px;
    font-weight: 800;
    position: absolute;
    left: 15px;
    z-index: 5;
    border: solid 1px rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
.dropDown span{
    color: #fff;
}
.dropDown i{
    position: relative;
    top: 2px;
    left: 10px;
}

.dropList{
  display:none;
  background-color:#232749;
  position: relative;
  width: 167px;
  top: 15px;
  left: -23px;
}
.dropList li{
  width: 100%;
  padding: 13px 20px 13px 15px;
  border: solid 1px rgba(255, 255, 255, .1);
  color: #9FA4DD;
  font-size: 14px;
  text-align: center;
}
.dropDown:nth-child(2){
    position: absolute;
    top: 0;
    left: 200px;
}
.dropDown:nth-child(3){
  position: absolute;
  top: 0;
  left: 400px;
}
  .dropDown:hover{
      border: 3px solid rgba(115,102,240, .5);
      border-bottom: none;
  }
  .dropDown:hover .dropList{
    display:block;
   
  }
  .dropDown:hover .fa-angle-down{
      display: none;
  }
  .searchBar input{
      position: absolute;
      left: 600px;
      padding: 15px 28px 15px 20px;
      border-radius: 5px;
      outline: none;
      background-color: transparent;
      border: solid 1px rgba(255, 255, 255, .1);
  }
  .searchBar button{
        position: absolute;
        top: 1px;
        left: 790px;
        padding: 15px 20px;
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
        border: none;
        color: #fff;
        background-color: #7366FD;
  }
  .searchBar button:focus{
      cursor: pointer;
  }
  .searchBar input::placeholder{
      color: gray;
  }

/* section3 */

.explore .wrap{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    box-sizing: border-box;
}
.explore .wrap .items{
    width: calc(100% / 4  - 20px);
    border-radius: 10px;
    margin: 0 10px 50px;
    border: solid 1px rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.explore .wrap .items .pic{
    padding: 40px 20px 20px;
    position: relative;
    text-align: center;
}
.explore .wrap .none{
    display: none;
}
.items .pic:hover img{
    transform: scale(1.05);
    transition: .3s;
}
.items:nth-of-type(odd) .pic{
    margin-top: 40px;

}
.items .pic::after{
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: url(../images/homepage/seller1.jpg)no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
    left: 13px;
}
.items:nth-of-type(odd) .pic:after{
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: url(../images/homepage/seller2.jfif)no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
    left: 13px;
}

.explore .wrap .items .pic img{
    width: 100%;
    border-radius: 10px;
}
.explore .wrap .info {
    padding: 0px 15px 20px;
    font-weight: 600;
}

.info h4{
    font-size: 15px;
}
.item-price{
    font-size: 14px;
    color: #9FA4DD;
}
.item-price span{
    margin-left: 8px;
    font-size: 12px;
}
.item-action a{
    color: #7366FD;
    font-size: 14px;
    margin-right: 142px;
}
.item-action a~i,span{
    color: gray;  
}
.item-action i:hover{
    color: rgb(170, 6, 6);
}

h4~div{
    margin-top: 10px;
}
.load-more{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.load-more button{
    width: 130px;
    margin:20px 0 60px;
    padding: 15px 10px;
    font-weight: 800;
    border-radius: 10px;
    background-color: #7366FD;
    outline: none;
    border: none;


}

