

/*滿版區*/
.full{
    width: 100%;
    background-color: #fff;
}

.btn-primary{
    width: 130px;
    height: 30px;
    background-color: rgb(190, 186, 186, 0.1);
    color: #fff;
    border-radius: 800px;
    border: 1.8px solid gray;
    cursor: pointer;
}
.bsc-btn{
    background-color: gray;
    width: 42px;
    border-radius: 1200px;
    border: none;
    font-weight: 600;
    font-size: 8px;
    position: relative;
    left: -10px;
}
.special-style, .bsc{
    color: #ccc;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
}
.ETH-style{
    font-weight: 600;
    padding-left: 14px;
}
.gradient-style{
    background:linear-gradient(to left top, #0b0537, #251564, #4b1d92, #791fbf, #ae12eb);
    background: -webkit-linear-gradient(to left top, #0b0537, #251564, #4b1d92, #791fbf, #ae12eb);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}





/*banner*/

.banner{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left top, #0b0537, #251564, #4b1d92, #791fbf, #ae12eb);
    background-size: auto;
    background-position: right;
    color: white;
    padding: 170px 0px 145px 0;
}
.banner .wrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    width: 55%;
}
.slogan{
    margin-bottom: 150px;
}
.banner-left h1{
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 30px;
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Volkhov', serif;
}
.banner-left p{
    font-size: 18px;
}
.action {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.action button{
    padding: 15px 40px;
    margin-right: 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 800;
    outline: none;
    border:none;
    cursor: pointer;
}
.action .cr_btn{
    background-color: #7366F0;
    color: #fff;
}
.action .ex_btn{
    background-color: #292B56;
    color: #7366F0;
}


.banner-right{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.banner-right img{
    width: 767px;
    height: 639px;
    position: absolute;
    right: -65px;
    top: -284px;
    border-radius: 10px;
    -webkit-transform:scale(.85);
    transform:scale(.85);
    }
  

/* 右側選單 */
.asideMenu {
    height: 50px;
    background-color: rgba(54, 52, 54, 0.9);
    position: fixed;
    z-index: 100;
    top: 100px;
    right: -170px;
    border-left: 5px solid #7366F0;
    padding: 20px;
    box-shadow: 0 0 5px hsla(240, 40%, 15%, 0.5);
    transform: translateX(0);
    transition: all 0.5s;
    letter-spacing: 1px;
  }
.asideMenu .btn{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.asideMenu .btn:active{
    opacity: 0;
}
.asideMenu:active{
    transform: translateX(-170px);
    height: 400px;
}
.asideMenu .title p{
    font-size: 14px;
    font-weight: 800;
    color: #fff;
}
.asideMenu .title, .list ul{
    position: relative;
    left: 2px;
    padding: 5px 20px 5px 10px ;
    font-weight: 400;
    font-size: 8px;
}

.asideMenu .list ul li:nth-of-type(odd){
    color: #fff;
    font-weight: 800;
    border-top: 1px solid gray;
    padding-top: 10px;

}
.asideMenu .optionTitle span{
    padding-left: 10px;
}
.red{
    color: red;
    font-weight: 800;

}
.green{
    color:green;
    font-weight: 800;

}

.asideMenu .list ul li:nth-child(even){
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 800;
    color: #7366F0;

}

/*Section1*/

.section1, .section3, .section4{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #161D30;

}
.section1 .wrap{
    padding-top: 70px;
}
.s1-title, .s3-title, .s4-title, .s5-title{
    width: 100%;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 30px;

}

.live-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #353444;
    padding-top: 10px;
}
.live-card .item{
    background-color: #353444;

}
.live-card .item img{
    width: 290px;
    height: 290px;
    margin: 10px;
    border-radius: 30px;
}
.item-name{
    display: flex;
    justify-content: space-around;
}
.live-card .item .creator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.creator .name p {
    padding-left: 15px;
}
.live-card .item .creator img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
}
.live-card .item .creator .name{
    margin-left: -64px;
}

.live-card .item .creator .bsc{
    font-size: 8px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.live-card .price{
    position: relative;
    left: -15px;
}


/*section2*/

.section2{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #161D30;
    padding: 80px 0;

}
.section3 .wrap{
    width: 92%;
}
.s2-title{
    width: 100%;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 30px;
}
.section2 .seller{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.section2 .seller .item{
    padding: 12px;
    text-align: center;
}
.section2 .seller .item img{
    border-radius: 10px;
    width: 130px;
    height: 130px;
    margin-bottom: 20px;    
}

/* section3 */

.pick-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: #353444;
    padding-bottom: 10px;
}
.pick-card .item{
    background-color: #353444;
    padding-top: 15px;
}
.pick-card .item img{
    width: 291px;
    height: 290px;
    margin: 10px;
    border-radius: 30px;
}
.pick-card .item-name{
    display: flex;
    justify-content: space-around;
}
.pick-card .item-name h3{
    margin-left: 15px;
    font-size: 16px;
}
.pick-card .item .creator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: -8px;
}
.pick-card .item .creator img{
    width: 50px;
    height: 50px;
}
.pick-card .item .creator .name{
    margin-left: -55px;
    color: red;
}
.pick-card .creator img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0;
    margin-top: 15px;
    margin-right: 15px;
}
.pick-card .item .creator .bsc{
    font-size: 10px;
    padding-bottom: 5px;
}
.section3 .explore-more{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-top: 30px;

}
.explore-more button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: #4b23db ;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 50px
}
.active ~ .item{
    margin-top: 20px;
}
/*section4*/
.section4{
    padding: 130px 0 80px 0;
}
.wrap{
    width: 92%;
}
.popular-card{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 50px;
}
.popular-card .item{
    width: 445px;
    height: 400px;    
}
.popular-card .content{
    padding: 15px;
    margin-top: 10px;
}
.content .collection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content .collection img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.content .collection .creator{
    margin-left: 10px;
    font-weight: 600;
}
.content .collection .collection-cat{
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.content .collection span{
    margin-right: 10px;
}
.content .artwork{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.artwork .artwork-left{
    height: 110px;
    padding-right: 15px;
}
.artwork-left img{
    width: 183px;
    height: 275px;
    border-radius: 10px;
}
.artwork .artwork-right{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: space-between;
    height: 275px;
    padding-right: -30px;
}
.artwork-right .top img{
    width: 99px;
    height: 124px;
    border-radius: 10px;
}

.artwork-right .top img:nth-child(1){
    margin-right: 10px;
}
.artwork-right .bottom img{
    width: 212px;
    height: 138px;
    margin-top: 10px;
    padding-bottom: 0;
    border-radius: 10px;
}


/* section5 */
.section5{
    display: flex;
    justify-content: center;
    background-color: #161D30;
    padding: 0px 0 130px 0;
    position: relative;
}
.section5 .s5-title{
    text-align: center;
    padding-left: 500px;
    font-size: 38px;
}    
.secction5 .wrap{
    width: 92%;
}
.section5 .process{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.section5 .item{
    width: 22%;
    padding: 15px;
    text-align: center;
    background-color: #292F45;
    border-radius: 10px;
    margin: 5px;
}
.section5 .item h3{
    font-size: 25px;
    padding-top: 10px;
}
.section5 .item img{
    width: 55px;
    height: 55px;
    margin: 10px 0;
}
.section5 .item p{
    font-size: 16px;
    line-height: 25px;
    padding: 20px;
    text-align: left;
    
}

/* section6 */

.marketplace{
    background-color: #000;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
    border-bottom:2px solid #fff ;
}




