

/*滿版區*/
.full{
    width: 100%;
    background-color: #fff;
}

.btn-primary{
    /* margin-right: 50px; */
    width: 130px;
    height: 30px;
    background-color: rgb(190, 186, 186, 0.1);
    color: #fff;
    border-radius: 800px;
    border: 1.8px solid gray;
    cursor: pointer;
}
.bsc-btn{
    background-color: gray;
    width: 50px;
    border-radius: 1200px;
    border: none;
    font-weight: 600;
    /* display: none; */
}
.special-style, .bsc{
    color: #ccc;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
}
.ETH-style{
    font-weight: 600;
    padding-left: 14px;
}
.gradient-style{
    background: linear-gradient(to top, #3a1c71, #4e45c5, #ffaf7b);
    background: -webkit-linear-gradient(to top, #3a1c71, #4e45c5, #ffaf7b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}





/*banner*/

.banner{
    display: flex;
    justify-content: center;    
    background-color: #141420;
    color: white;
    padding-top: 170px;
}
.banner .wrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    width: 55%;
    padding-left: 50px;
    /* border: 1px solid green; */
}
.slogan{
    /* border: 1px solid green; */
    margin-bottom: 150px;
}
.banner-left h1{
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 30px;
}
.banner-left p{
    font-size: 18px;
}

.banner-button button {
    width: 110px;
    height: 50px;
    margin-right: 20px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #141420;
    color: white;
    border: 3px solid #4b23db;
    font-weight: 600; 
   
}

.banner-button .explore:hover,
.banner-button .create:hover{
    cursor: pointer;
    background-color: #fff;
    color: #4b23db;
    font-weight: 600;

    
}





.banner-right{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.banner-right img{
    /* border: 1px solid green; */
    /* width: 90%;
    height: 90%; */
    width: 670px;
    height: 554px;
    position: absolute;
    right: -65px;
    top: -283px;
    border-radius: 10px;

    /* margin-left: 200px; */

    background-color: #141420;
    box-shadow:0 0 20px 10px rgb(20,20,32);
        -webkit-transform:scale(.85);
        transform:scale(.85);
      }
  

/*Section1*/

.section1, .section3, .section4{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #141420;

}
.section1 .wrap{
    padding-top: 100px;
    
}
.s1-title, .s3-title, .s4-title, .s5-title{
    width: 100%;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 30px;

}

.live-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 30px;
    background-color: #353444;

}
.live-card .item{
    background-color: #353444;

}
.live-card .item img{
    width: 320px;
    height: 320px;
    margin: 10px;
    border-radius: 30px;
}
.item-name{
    display: flex;
    justify-content: space-around;
    /* padding-bottom: 30px; */
}
.live-card .item .creator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.creator .name p {
    padding-left: 10px;
}
.live-card .item .creator img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
    /* border: 1px solid red; */
}
.live-card .item .creator .name{
    margin-left: -55px;
    /* color: red; */
    /* border: 1px solid red; */
}

.live-card .item .creator .bsc{
    font-size: 8px;
    margin-bottom: 5px;
    margin-right: 5px;

}


/*section2*/

.section2{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #141420;
    padding: 80px 0;

}
.section3 .wrap{
    width: 92%;
}
.s2-title{
    width: 100%;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 30px;
}
/* .s2-title .btn button{
    width: 44px;
    height: 44px;
    background-color: #000;
    color: #fff;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 20px;
}
.s2-title .btn button:hover{
    cursor: pointer;
} */



.section2 .seller{
    display: flex;
    justify-content: space-between;
    position: relative;
}
/* .seller::before{
    content:'<';
    text-align: center;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #000;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 50px;
    left: -50px;
    box-shadow:0 0 20px 10px rgb(20,20,32);
    
} */
/* .seller::after{
    content:'>';
    text-align: center;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #000;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 50px;
    right: -50px;
    
} */
.section2 .seller .item{
    padding: 12px;
    text-align: center;
}
.section2 .seller .item img{
    border-radius: 10px;
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    
}

/* section3 */

.pick-card{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    border-radius: 10px;
    background-color: #353444;
    margin: 0;

}
.pick-card .item{
    background-color: #353444;
    padding-top: 15px;
}
.pick-card .item img{
    width: 320px;
    height: 320px;
    margin: 10px;
    border-radius: 30px;

}
.pick-card .item-name{
    display: flex;
    justify-content: space-around;
    /* padding-bottom: 30px; */
}
.pick-card .item-name h3{
    margin-left: 15px;
    font-size: 16px;
}
.pick-card .item .creator{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pick-card .item .creator img{
    width: 50px;
    height: 50px;
}
.pick-card .item .creator .name{
    margin-left: -55px;
    color: red;
}
.pick-card .creator img{
    width: 70px;
    height: 70px;
    /* border: 1px solid red; */
    border-radius: 50%;
    padding: 0;
    margin-top: 15px;
    margin-right: 15px;
}
.pick-card .item .creator .bsc{
    font-size: 10px;
    padding-bottom: 5px;
}
.section3 .explore-more{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-top: 30px;

}
.explore-more button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: #4b23db ;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 50px
}
.active ~ .item{
    margin-top: 20px;
}


/*section4*/
.section4{
    padding: 130px 0 80px 0;
}
.wrap{
    width: 92%;
}
.popular-card{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 50px;
}
.popular-card .item{
    width: 445px;
    height: 400px;
    /* border: 1px solid red; */
    
}
.popular-card .content{
    padding: 15px;
    margin-top: 10px;
}
.content .collection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content .collection img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.content .collection .creator{
    margin-left: 10px;
    /* line-height: 20px; */
    font-weight: 600;
}
.content .collection .collection-cat{
    font-size: 20px;
    margin-bottom: 10px;
}
.content .collection span{
    margin-right: 10px;
}
.content .artwork{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 20px;
}
.artwork .artwork-left{
    /* border: 1px solid red; */
    height: 110px;
    padding-right: 15px;
    /* padding-left: 5px; */
}
.artwork-left img{
    width: 183px;
    height: 275px;
    border-radius: 10px;
}
.artwork .artwork-right{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: space-between;
    /* border: 1px solid red; */
    height: 275px;
    padding-right: -30px;
}
.artwork-right .top img{
    width: 99px;
    height: 124px;
    border-radius: 10px;
}

.artwork-right .top img:nth-child(1){
    margin-right: 10px;
}
.artwork-right .bottom img{
    width: 212px;
    height: 138px;
    margin-top: 10px;
    padding-bottom: 0;
    border-radius: 10px;

}


/* section5 */
.section5{
    display: flex;
    justify-content: center;
    background-color: #141420;
    padding: 0px 0 130px 0;
    position: relative;
}
.section5 .s5-title{
    text-align: center;
    padding-left: 500px;
    font-size: 38px;
}    
.secction5 .wrap{
    width: 92%;
}
.section5 .process{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.section5 .item{
    width: 25%;
    padding: 15px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: #292F45;
    border-radius: 10px;
    margin: 5px;
}

.section5 .item h3{
    font-size: 25px;
    padding-top: 10px;
}
.section5 .item img{
    width: 55px;
    height: 55px;
    margin: 10px 0;
}
.section5 .item p{
    font-size: 16px;
    line-height: 25px;
    padding: 20px;
    text-align: left;
    
}



/* section6 */

.marketplace{
    background-color: #000;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
    border-bottom:2px solid #fff ;
}




